.git

/tools/cc
/tools/cc/*
/tools/cc/**

./tools/cc
./tools/cc/*
./tools/cc/**

/out/
/out/*
/out/**

*.igz
*/*.igz
*.elf
*/*.elf
*.EFI
*/*.EFI
*.o
*/*.o
*.d
*/*.d
*.hdd
*/*.hdd
*.img
*/*.img
*.iso
*/*.iso

loopback_dev
